<div class="card">
  <div class="card-header"><h1>Novo Agendamento</h1></div>
  <div class="card-body">
  <%= render 'form', agendamento: @agendamento %>
  </div>
  <div class="card-footer">
  <%= link_to 'Ver detalhes', @agendamento %> |
  <%= link_to 'Voltar', agendamentos_path %>
  </div>
</div>
