<div class="card">
  <div class="card-header"><h1>Editar Contrato</h1></div>
  <div class="card-body">
  <%= render 'form', contrato: @contrato %>
  </div>
  <div class="card-footer">
    <%= link_to 'Ver detalhes', @contrato %> |
    <%= link_to 'Voltar', contratos_path %>
  </div>
</div>
