<!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" href="#">Agenda</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class='fa fa-calendar'></i> Calendário <span class="sr-only">(current)</span></a>
      </li>

      <% unless current_usuario.nil? %>
        <% if current_usuario.has_role? :admin %>
          <li class="nav-item">
            <a class="nav-link" href="/agendamentos">Agendamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chamadas">Chamadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contratos">Contratos</a>
          </li>
        <% elsif current_usuario.has_role? :aluno %>

          <li class="nav-item">
            <a class="nav-link" href="/meus_agendamentos">Meus Agendamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contratos">Contratos</a>
          </li>
        <% end %>


      <% end %>

      <div id="nav-item">
          <% if usuario_signed_in? %>
              <%= link_to 'Sair', destroy_usuario_session_path, class: 'nav-link' %>
          <% else %>
              <%= link_to 'Acessar', new_usuario_session_path, class: 'nav-link' %>
          <% end %>
      </div>


    </ul>

  </div>
</nav>
